<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
		<span class="anchor" id="formLogin"></span>
<!--form card login with validation feedback -->
<div class="card card-outline-secondary">
	<div class="card-header">
	<h3 class="mb-0">Whishlist</h3>
	</div>
<div class="card-body">
	<form>
	<div class="form-group">
		<label for="nombre">Nombre</label>
		<input #nombre type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." >
	</div>
	<div class="form-group">
		<label for="Imagen Url">Imagen Url</label>
		<input #url type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." >
	</div>
		<button (click)="guardar(nombre.value, url.value)" type="submit" class="btn btn-primary" >Guardar!</button>
	</form>
</div>
</div>
		</div>
	</div>
	<hr class="mb-5">
	<div class="container">
	<div class="d-flex flex-wrap flex-row">
	<app-preparaciones *ngFor="let d of preparaciones" [preparacion]="d" ></app-preparaciones>
	</div>
	</div>
	</div>